<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="88a0620b-56cd-4f6d-bbe7-5e7747d0a803" Publisher="CN=Chris" Version="1.1.0.0" />
  <Properties>
    <DisplayName>The Game of Go</DisplayName>
    <PublisherDisplayName>Chris Bordeman</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GoG.WinRT.App">
      <m2:VisualElements DisplayName="The Game of Go" Description="According to chess master Emanuel Lasker: &quot;The rules of Go are so elegant, organic, and rigorously logical that if intelligent life forms exist elsewhere in the universe, they almost certainly play Go.&quot;  Go is an ancient Chinese/Japanese board game.  Players alternate placing black and white stones, with the goal to surround and capture their opponent's pieces and territory.  Unlike chess, the number of potential moves is so great that even modern computers cannot beat most professional human players." BackgroundColor="#000000" ForegroundText="light" Square150x150Logo="Assets\Square150x150Logo.jpg" Square30x30Logo="Assets\Square30x30Logo.png" ToastCapable="false">
        <m2:DefaultTile ShortName="The Game of Go" Square310x310Logo="Assets\Square310x310Logo.jpg" Wide310x150Logo="Assets\Wide310x150Logo.jpg" DefaultSize="wide310x150Logo" Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>