USE [master]
GO
/****** Object:  Database [GoG]    Script Date: 8/23/2013 7:43:19 PM ******/
CREATE DATABASE [GoG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoG', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GoG.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GoG_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GoG_log.ldf' , SIZE = 15040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoG]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 8/23/2013 7:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Games](
	[GameId] [uniqueidentifier] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[BlacksTurn] [bit] NOT NULL,
	[BlackStones] [varchar](1400) NOT NULL,
	[WhiteStones] [varchar](1400) NOT NULL,
	[LastMove] [datetimeoffset](7) NOT NULL,
	[Started] [datetimeoffset](7) NOT NULL,
	[Size] [tinyint] NOT NULL,
	[Player1Name] [varchar](30) NOT NULL,
	[Player2Name] [varchar](30) NOT NULL,
	[Player1Type] [tinyint] NOT NULL,
	[Player2Type] [tinyint] NOT NULL,
	[Player1Score] [decimal](11, 6) NOT NULL,
	[Player2Score] [decimal](11, 6) NOT NULL,
	[Player1Level] [tinyint] NOT NULL,
	[Player2Level] [tinyint] NOT NULL,
	[WinMargin] [decimal](11, 6) NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 8/23/2013 7:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [uniqueidentifier] NULL,
	[Date] [datetimeoffset](7) NOT NULL,
	[Level] [varchar](7) NOT NULL,
	[Context] [varchar](max) NULL,
	[ExceptionType] [varchar](50) NULL,
	[Exception] [varchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Moves]    Script Date: 8/23/2013 7:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Moves](
	[MoveId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [uniqueidentifier] NOT NULL,
	[Sequence] [int] NOT NULL,
	[Position] [varchar](3) NULL,
	[Captured] [varchar](1294) NOT NULL,
	[IsBlack] [bit] NOT NULL,
	[MoveType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Moves] PRIMARY KEY CLUSTERED 
(
	[MoveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 8/23/2013 7:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[ActiveMessage] [varchar](max) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_FK_Moves_Games]    Script Date: 8/23/2013 7:43:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Moves_Games] ON [dbo].[Moves]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Modified]  DEFAULT (getdate()) FOR [LastMove]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player1Name]  DEFAULT ('Anonymous') FOR [Player1Name]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player2Name]  DEFAULT ('Fuego') FOR [Player2Name]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player1Type]  DEFAULT ((0)) FOR [Player1Type]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player2Type]  DEFAULT ((1)) FOR [Player2Type]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player1Score]  DEFAULT ((0)) FOR [Player1Score]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player2Score]  DEFAULT ((0)) FOR [Player2Score]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player1Level]  DEFAULT ((0)) FOR [Player1Level]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_Player2Level]  DEFAULT ((4)) FOR [Player2Level]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_WinMargin]  DEFAULT ((0)) FOR [WinMargin]
GO
ALTER TABLE [dbo].[Moves]  WITH CHECK ADD  CONSTRAINT [FK_Moves_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([GameId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moves] CHECK CONSTRAINT [FK_Moves_Games]
GO
USE [master]
GO
